.header {
    display: flex;
    align-items: center;
    background-color: #103b2d;
}

.header a {
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-transform: uppercase;
}

.header .title-group {
    margin-right: 12px;
}

.header .title-group i {
    margin-right: 4px;
}
